
* {
    font-family: "Martian Mono", monospace;
    color: rgb(224, 15, 22);
}
/* 
creates space at the bottom of the page before footer appears */
.spacer {
  height: 300px;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    padding: 1rem 5%;
}

.navbar > ul {
    display: flex;
    list-style-type: none;
    gap: 7rem;
}

@media (max-width: 828px) {
  .navbar > ul {
    display: flex;
    list-style-type: none;
    gap: 4rem;
  }
}


/* TAROT 101 styling for the nav bar */
#logo {
    font-weight: 1000;
    font-size: 20pt;
    text-decoration: none;
}


#logo:hover {
    cursor: pointer;
}

.underline-text {
    text-decoration-color: transparent;
    text-underline-offset: 10px;
    transition-property: text-decoration-color;
    transition-duration: 0.5s;
}

.underline-text:hover {
    text-decoration-color:rgb(224, 15, 22);
}



/* list styling on INTRO page */
.list ol {
  margin: 0 auto;        
  max-width: 600px;     
  padding: 2rem;
}

@media (max-width: 828px) {
  .list ol {
    max-width: 400px;
  }
}


.list li {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 16pt;
  text-align: left;     
}


@media (max-width: 828px) {
  .list li {
     font-size: 14pt;
  }
}


/* Main headers */
h2 {
    margin-top: 5vw;
    font-size: 70pt;
    font-weight: 500;
    text-align: center;
    margin: 5%;
}

@media (max-width: 828px){ 
h2 {
  text-wrap: wrap;
}
}


/* Subheader */
h3 {
    text-align: left;
    margin: 5%;
    padding: 1rem;
}

@media (max-width: 828px){ 
h3 {
   margin: 6%;
}
}

h3 a{
    /* text-decoration: none; */
    font-size: 50pt;
    font-weight: 450;
}

@media (max-width: 828px){ 
h3 a {
   font-size: 30pt;
}
}




/* card name  */
h4{
    /* padding: 1rem; */
    font-size: 60pt;
    text-align: center;
    font-weight: 400;

}

@media (max-width: 828px){ 
h4 {
   font-size: 30pt;
}
}

/* card subheads */
h5 {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 24pt;
}

@media (max-width: 828px){ 
h5 {
   font-size: 18pt;
}
}

/* styling for tab info (red text under main headers) */
h6 {
    text-align: center;
    font-size: 16pt;
    margin: 0 auto;
    max-width: 750px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

@media (max-width: 828px){ 
  h6 { 
    font-size: 14pt;
    max-width: 550px;
  }
}

#quiz h5 {
    text-align: center;
    margin-right: 0;
}

p {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 16pt;
    text-align: left;
    text-indent: 5vw;
    margin: 0 auto;
    max-width: 750px;
    /* padding: 0 5%; */
    
}
@media (max-width: 828px) {
  p {
    font-size: 14pt;
    max-width: 550px;
  }
}

.card-text-upright{ 
  text-indent: -11vw;
}

.card-text-reversed{ 
  text-indent: -6vw;
}

/* Cards in Suits upright/reversed */
.card-display {
    display: flex;
     gap: 4%;
    justify-content: center;
}

.card-display img {
    margin-top: 3rem;
    max-width: 12%;
    display: block;
}

@media (max-width: 828px){ 
.card-display img {
    max-width: 25%;
}
} 

/* Suit grid on ALL CARDS*/
.all-cards {
  display: grid;
  margin: 0 5%;              
  grid-template-columns: repeat(6, 1fr);
  gap: 4vw;                 
  padding: 1.25rem;            
}
.all-cards img {
    width: 75%;
    max-width: 400px;
    height: auto;
    display: block;
    border-radius: 5px;
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.all-cards img:hover { 
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgb(121, 160, 211);
}
/* Spacing between card grid on ALL CARDS*/
.suit-section {
    margin: 10%;
}



/* TAROT 101 PAGE */
.gif {
   padding: 2rem 5%;
   margin-left: 14%;
}

@media (max-width: 828px) {
  .gif{
  padding: 1rem;
   
  }
}


.overlay {
  position: relative;
  display: block;
  width: 25%;
}

.overlay img {
  width: 100%;
  display: block;
}

h2.overlay-text {
    position: absolute;
    top: 20vw;           
    left: 50vw; 
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 70pt;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 828px) {
  h2.overlay-text {
    font-size: 45pt;
    padding: 12rem;
    white-space: nowrap;
    transform: translate(-45%, -40%);
  }
}

.scroll-arrow {
  position: absolute;
  bottom: 80px;
  right: 5%;
  transform: translate(-50%);
  
  font-size: 30pt;
  color: rgb(224, 15, 22);
}

.scroll-arrow {
  position: absolute;
  top: 90%;
  right: 5%;
  transform: translate(-50%);
  
  font-size: 30pt;
  color: rgb(224, 15, 22);
}

@media (max-width: 828px) {
  .scroll-arrow {
    top: 28%;
    right: 5%;
    transform: none;
    font-size: 20pt;
  }
} 

/* suits icons on INTRO page */
.suits-icon img {
    width: 12%;
    left: 20vw;
    position: absolute;
}

@media (max-width: 828px) {
  .suits-icon img {
    width: 19%;
    left: 0vw;

  }
} 



/* QUIZ BUTTONS  */
button {
    font-family: "Inter", sans-serif;
    padding:0.5rem 1rem;
    /* max-width: 800px; */
    /* left: 200px; */
    /* margin-right: 20px; */
    margin-bottom: 20px;
    background-color:rgb(243, 236, 236);
    color: rgb(224, 15, 22);
    text-decoration: solid;
    font-size: 14pt;
    border:none;
    cursor:pointer;
    border-radius: 25px;
    display: block;
    flex-wrap: wrap;
    /* gap: 10px; */
}

@media (max-width: 828px){
  button {
  font-size: 12pt;
  }
}

button:hover {
    background:rgb(198, 224, 252);;
}

.preamble {
    display: flex;
    flex-direction: column;
}

.preamble button {
    align-self: center;
}


/* footer */
footer { 
  padding: 20px;
  margin-bottom: 0%;
}


.copy{ 
  margin: 1rem; 
  text-align: center;
}

@media (max-width: 828px){ 
  .copy { 
    font-size: 8pt;
  }
}
