
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Martian Mono", monospace;
    color: rgb(224, 15, 22);
    font-size: 20pt;
}

body {
    min-height: 100vh;
    padding-bottom: 300px;
}

/* navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: sticky;
    padding: 64px 64px;
}

.navbar > ul {
    display: flex;
    list-style-type: none;
    gap: 310px;
}

.list ol, 
.list li{
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 16pt;
    text-align: left;
    margin-left: 250px;

}

#logo {
    font-weight: bold;
    text-decoration: none;
}

#logo:hover {
    cursor: pointer;
}

.underline-text {
    text-decoration-color: transparent;
    text-underline-offset: 10px;
    transition-property: text-decoration-color;
    transition-duration: 0.5s;
}

.underline-text:hover {
    text-decoration-color:rgb(224, 15, 22);
}

/* Main Headers */
h2 {
    margin-top: 100px;
    font-size: 100pt;
    font-weight: 500;
    text-align: center;
}

/* Subheader */
h3 {
    text-align: left;
    margin-top: 200px;
    margin-left: 80px;
}

h3 a{
    /* text-decoration: none; */
    font-size: 50pt;
    font-weight: 450;
}

/* Card Header */
h4{
    margin-top: 120px;
    font-size: 60pt;
    text-align: center;
    font-weight: 400;

}

/* CARD SUBHEADS */
h5 {
    text-align: right;
    margin-top: 80px;
    margin-right: 1390px;
    font-weight: 650;
    font-size: 20pt;
}

h6 {
    text-align: center;
    margin-top: 80px;
    font-size: 16pt;
    margin-left: 180px;
    margin-right: 180px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

#quiz h5 {
    text-align: center;
    margin-right: 0;
}

p {
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 16pt;
    text-align: justify;
    margin-left: 450px;
    margin-top: -30px;
    margin-right: 450px;
}


/* SUIT GRID */
.major-arcana {
    display: grid;
    margin-left: 60px;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
    padding: 20px;
}
.major-arcana img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    border-radius: 5px;
}

/* Cards in Suits upright/reversed */
.card-display {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.card-display img {
    margin-top: 200px;
    width: 300px;
    height: 600px;
    display: block;
}

.suit-section {
    margin-bottom: 300px;
}



/* SUIT GRID */
.all-cards {
    display: grid;
    margin-left: 60px;
    margin-right:60px;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
    padding: 20px;
}
.all-cards img {
    width: 75%;
    max-width: 400px;
    height: auto;
    display: block;
    border-radius: 5px;
}


/* #cardSearch {
    width: 600px;
    padding: 15px;
    font-size: 25px;
    margin: 150px auto;
    display: block;
} */

.gif {
    padding: 16px 64px;

}

/* .gif2 {
top: 20px;
  right: 64px;
} */

.overlay h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0px;
    white-space: nowrap;
}

.suits-icon img {
    width: 10%;
    left: 275px;
    position: absolute;
}

button {
    font-family: "Inter", sans-serif;
    padding:0.5rem 1rem;
    /* max-width: 800px; */
    /* left: 200px; */
    /* margin-right: 20px; */
    margin-bottom: 20px;
    background-color:rgb(243, 236, 236);
    color: rgb(224, 15, 22);
    text-decoration: solid;
    font-size: 14pt;
    border:none;
    cursor:pointer;
    border-radius: 25px;
    display: block;
    flex-wrap: wrap;
    /* gap: 10px; */
}

button:hover {
    background:rgb(198, 224, 252);;
}

.preamble {
    margin-top: 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;

}
